<!DOCTYPE html>
<html>
<head>
    <title>Trade Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <h1>Trade Page</h1>
    <ul id="tradeData"></ul>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('trade_data', function(msg) {
            var tradeData = '';
            for (var key in msg) {
                tradeData += '<li>' + key + ': ' + msg[key] + '</li>';
            }
            document.getElementById('tradeData').innerHTML = tradeData;
        });
    </script>
</body>
</html>